.owtter-wrap {

  margin-left: 30px;
  margin-right: 30px;

}

.row-nav1 {

  display: flex;
  justify-content: space-between;


}

.menu-search-icon {

  display: flex;
  gap: 20px;
  font-size: x-large;
  font-weight: 800;
  list-style: none;

}

.menu-search-icon li {

  margin: 0px 8px 0px 0px;
  padding: 8px 9px 9px;
 cursor: pointer;
}

.nav-lang .menu-search-icon li {


  font: 15px nyt-franklin, helvetica, arial, sans-serif;
}

.log-play-btn .menu-search-icon li button {

  background: #567B95;
  color: #ffffff;
  margin: 0px 7px 0px 0px;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
cursor: pointer;

}